@import 'tailwindcss';

@theme {
  --font-primary: 'Inter', serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-900 text-zinc-50 h-[200vh];
}

@layer utilities {
  .backdrop-blur-md {
    backdrop-filter: blur(12px);
  }

  .backdrop-blur-lg {
    backdrop-filter: blur(24px);
  }
}
